
.container{
    height: 100vh;
    /* width: 20vw; */
    background-color: #c7c5c5;
    margin-top: 3rem;
    box-shadow: 0 0 10px;
    margin-bottom: 4rem;
}

button{
    background-color: rgb(3, 84, 95);
    color: white;
    padding:5px 5rem;
}

#title{
    background-color: rgb(31, 218, 193);
    margin-bottom: 2rem;
    font-size: 2rem;
    padding: 1rem;
}

